@media screen and (max-width: 600px) {
  #nav {
    visibility: hidden;
    display: none;
  }
  #name {
    font-size: 30px;
  }
}

.about-grid {
  background-image: linear-gradient(
    108.5deg,
    rgba(231, 69, 54, 0.82) 11.2%,
    rgba(255, 181, 17, 0.82) 68%
  );
}

.home-grid {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
