@media screen and (max-width: 600px) {
  #nav {
    visibility: hidden;
    display: none;
  }
  #name {
    font-size: 30px;
  }
}

.about-grid {
  background-image: linear-gradient(
    108.5deg,
    rgba(231, 69, 54, 0.82) 11.2%,
    rgba(255, 181, 17, 0.82) 68%
  );
}

.home-grid {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 30%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
